/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
@font-face {
    font-family: 'texgyreadventorregular';
    src: url('../fonts/texgyreadventor-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
     font-family: 'open_sansregular';
      src:url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
}
@font-face {
	font-family: 'fjalla_one';
	src:url('https://fonts.googleapis.com/css?family=Fjalla+One') format('truetype');
}
@font-face {
	font-family: 'Cookie';
	src:url('../fonts/Cookie-Regular.ttf') format('truetype');
}

body {
	font-family: 'open_sansregular';
	background:#ffffff;
	font-size: 100%;
}
img {
	max-width: 100%;
}

.espacio{
	display: none;
}

.breadcrumb li{
	font-size: 1.2em;
}

blockquote { border-left: 5px solid #f86466; background: white; }

.modal-wide .modal-dialog {
	width: 80%;
}

/*header*/
.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:10px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:50px;
	right:20px;
	z-index: 100;
}
.arrow{
	text-align: center;
	font-size: 30px;
}
.header-bg{
	background: url(../images/iglesia2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #292c2f;
}
.header-bg h1{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
	text-align: center;
}
.header-bg h1 span{
	color:  #5383d3;
}
.header-bg h2{
	color: #F3F3F3;
	font-size: medium;
	font-style: italic;
	font-family: monospace;
	text-align: center;
}
.logo{
	width: 70%;
	height: 25%;
}
/*end Header*/


/* menu */
.h_menu{
	padding: 0;
	padding-left: 80px;
	background: #292c2f;
}
.navbar {
	position: relative;
	min-height: 60px;
	margin-bottom: 0px;
	border: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background: #292c2f;
	color: #ffffff;
	padding: 0;
}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover{
	background: #5383d3;
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.nav > li {
	border-right: 1px solid rgb(39, 37, 37);
}
.nav > li > a {
	font-size: 13px;
	padding: 20px 30px;
	text-transform: uppercase;
}

/*lecturas*/
.lecturasB{
	background-color: #f5f7a5;
}
.tlectura{
	font-family: fjalla_one;
}
.lectura{
	font-family: tahoma, verdana, arial, sans-serif;
	text-align: justify;
	font-size: 1.2em;
}

/* start main */
.main_bg{
	background: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
}
.main{
	padding: 5% 0;
}

.para{
	font-size: 14px;
	line-height: 1.8em;
	color: #868686;
	text-align: justify;
}

/* Button 1 */
.fa-btn {
	font-size: 14px;
	background: none;
	cursor: pointer;
	padding: 12px 40px;
	display: inline-block;
	margin: 10px 0px;
	text-transform: uppercase;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.fa-btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-1 {
	border: 2px solid #5776ff;
	color: #3b3b3b;
}
/* Button 1e */
.btn-1e {
	overflow: hidden;
}
.btn-1e:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #5776ff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-1e:hover,.btn-1e:active {
	color: #ffffff;
	text-decoration:none;
}
.btn-1e:hover:after {
	height: 260%;
	opacity: 1;
}
.btn-1e:active:after {
	height: 400%;
	opacity: 1;
}

.read_more a{
	position: relative;
	z-index: 1;
}

/* start contact */
.company_ad h2{
	margin: 0 0 20px;
	text-transform: capitalize;
	font-size: 3em;
	color:#3b3b3b;
	font-family: 'texgyreadventorregular';
}
.company_ad p{
	font-size: 14px;
	color: #3b3b3b;
}
.company_ad p a {
	color: #5776ff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.company_ad p a:hover{
	text-decoration:none;
	color: #3b3b3b;
}
.contact-form h2{
	margin: 0 0 20px;
	text-transform: capitalize;
	font-size: 3em;
	color:#3b3b3b;
	font-family: 'texgyreadventorregular';
}
.contact-form span{
	display:block;
	text-transform: capitalize;
	font-size: 14px;
	color: #5b5b5b;
	font-weight: normal;
	margin-bottom: 10px;
}
.contact-form textarea {
	font-family: 'Open Sans', 'sans-serif';
	padding: 10px;
	display: block;
	width: 99.3333%;
	background: #ffffff;
	outline: none;
	color: #c0c0c0;
	font-size: 0.8725em;
	border: 1px solid #ECECEC;
	-webkit-appearance: none;
	resize: none;
	height: 120px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.contact-form textarea:focus{
	border:1px solid #5776ff;
}
.form-control{
	box-shadow: none;
	border: 1px solid #ECECEC;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.form-control:focus {
	box-shadow: none;
}
.contact-form input[type="submit"] {
	font-family: 'open_sansregular';
	-webkit-appearance: none;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	text-transform: uppercase;
	font-weight: 100;
}
.contact-form label{
	position: relative;
	z-index: 1;
}
.form-control:focus {
	border-color: #5776ff;
}

/* start details */
.details img{
	margin-bottom: 20px;
}

#img_slide{
	height: 350px; !important;
	width: 1200px;
}

/***** Media Quries *****/
@media only screen and (max-width: 1440px) and (min-width: 240px)  {
	.wrap{
		width:95%;
	}
}
@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1366px) {
}
@media only screen and (max-width: 1280px) {
	.h_menu {
		position: relative;
		padding-left: 40px;

	}
	.nav > li > a {
		font-size: 10px;
		padding: 20px 30px;
		text-transform: uppercase;
	}
}
@media only screen and (max-width: 1024px) {

	.para {
		font-size: 13px;
	}
	.logo{
		display: none;
		width: 20%;
		height: 20%;
	}
	.h_menu {
		position: relative;
		padding-left: 40px;

	}
	.nav > li > a {
		font-size: 10px;
		padding: 20px 30px;
		text-transform: uppercase;
	}

}
@media only screen and (max-width: 768px) {
	.header-bg{
		background: url(../images/iglesia_mob.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #292c2f;
	}
	.logo{
		display: none;
		width: 20%;
		height: 20%;
	}
	.h_menu {
		position: relative;
		padding: 0;
	}
	.nav > li > a {
		font-size: 10px;
		padding: 10px 10px;
		text-transform: uppercase;
	}

	.espacio{
		display: inline;
	}

	.navbar-default .navbar-toggle {
		border-color: #FFF;
	}
	.navbar {
		min-height: 51px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: #3b3b3b;
	}
	.navbar-default {
		background-color: #3b3b3b;
		border:none;
	}
	.navbar-nav {
		margin: 0px 0px;
	}
	.nav > li > a {
		padding: 20px 15px;
	}

	.main {
		padding: 4% 0;
	}
	.lecturasB{
		background-color: #f5f7a5;
		margin-left: 15px;
		margin-right: 15px;
	}
	#img_slide{
		height: 250px; !important;
		width: 1200px;
	}

}
@media only screen and (max-width: 640px){
	.logo img{
		float: none;
		height: 15%;
		width: 50px;
	}
	.company_ad{
		margin-left: 0;
	}

	.logo h1{
		font-size: 20px;
	}
	.logo h2{
		font-size: 10px;
	}


	.nav > li > a {
		font-size: 10px;
		padding: 10px 20px;
		text-transform: uppercase;
	}

	.main_bg div{
		margin: 0.2%;
	}
	.slider { font-size: 50%; }


}
@media only screen and (max-width: 480px) {
	.logo img{
		float: none;
		height: 15%;
		width:  50px;
	}

	.company_ad h2 {
		font-size: 2em;
	}
	.contact-form h2 {
		font-size: 2.5em;
	}

	.slider { font-size: 50%; }
	#img_slide{
		height: 200px; !important;
		width: 1200px;
	}

}
@media only screen and (max-width: 320px) {
	.logo img{
		float: none;
		height: 15%;
		width:  50px;
	}
	.main {
		padding: 8% 2%;
	}

}

